@charset "UTF-8";
h3 {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	text-align: center;
	background-color: white;
	
}
body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 2px;
    font-size: 10pt;
	background-image: url(https://i.imgur.com/HN7rAq2.jpg)
}

.app-container {
    max-width:285px;
	align-self: flex-start;
	margin: 0 auto;
    border: 5px solid #000000;
    padding: 10px;
    border-radius: 2px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
	font-weight: 900;
	font-size-adjust: auto;
	background-color: white
}

button {
    background-color: #FFFFFF;
    color:#D90090;
	font-weight: 800;
	border-color: #D90090;
	border-style: double;
	border-bottom-color: #D90090;
}

.button1 button
{
    border: 2px solid white;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: auto;
    margin-top: 1%;
    padding-left: auto;
    padding-top: auto;
    padding-right: auto;
    color: #FFFFFF;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    background-repeat: repeat-x;
    -webkit-box-shadow: 0px 0px #FFFFFF;
    box-shadow: 0px 0px #FFFFFF;
    background-color: #000000;
    font-size: x-small;
    text-align: center;
    left: 0pc;
    padding-bottom: auto;
    /* [disabled]margin-left: 10%; */
    clear: none;
    opacity: 1;
    display: inline-block;
}

#link
{
	color: white
}

.button2
{
	
}

input[type="time"], input[type="number"] {
	min-width: 150px;
}
	
#endTime {
    color: #D90090;	
	
}
