body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    size: 20pt;
}

.app-container {
    max-width:200px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    size: 20pt;
}

button {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 2px solid #008304; /* Green */
}

label, span {
    display: inline-block;
    margin-top: 10px;
}

input[type="time"], input[type="number"] {
    margin-bottom: 10px;
}
