@charset "UTF-8";
h3 {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	text-align: center;
	background-color: white;
	
}
body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 2px;
    font-size: 10pt;
	background-image: url(https://github.com/LadyDaddy/johnnystimecalc/blob/main/longstract.png?raw=true)
}

.app-container {
    max-width:285px;
	align-self: flex-start;
	margin: 0 auto;
    border: 5px solid #000000;
    padding: 10px;
    border-radius: 2px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
	font-weight: 900;
	font-size-adjust: auto;
	background-color: white
}

button {
    background-color: #FFFFFF;
    color:#D90090;
	font-weight: 800;
	border-color: #D90090;
	border-style: double;
	border-bottom-color: #D90090;
}

label, span {
    display: inline-block;
    margin-top: 10px;
}

input[type="time"], input[type="number"] {
	min-width: 150px;
}
	
#endTime {
    color: #D90090;	
	
}
.inav {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 16px;
    font-style: normal;
    font-weight: bolder;
    color: white;
    text-decoration: underline;
    position: relative;
    bottom: auto;
	background-color: black;
}
